{% extends('base.html') %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
{% block body %}
      <div class="container">
        <h1 class="display-3">功能测试</h1>
        <p class="toplinks">本页面主要用来调试机器人，包括远程登录和重启</p>
        <p><a class="btn btn-success btn-lg" href="/login" role="button">登录</a></p>
              <p><a class="btn btn-success btn-lg" href="learn" role="button">学习</a></p>
              <p><a class="btn btn-success btn-lg" href="reboot" role="button">重启</a></p>


      </div>
{% endblock %}