<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
{%extends "base.html" %}
{% block body%}
<div class="container">
      <div class="header">
        <h3 class="text-muted">select the files to convert</h3>
      </div>
      <hr/>
      <div>

      <form action={{url_for('upload')}} method="post" enctype="multipart/form-data">
        <input type="file" multiple="" name="file[]" class="span3" /><br />
        <input type="submit" value="点击转换成PDF"  class="span2">
      </form>
      </div>
    </div>
    <div class="container">
      <div class="header">
        <h4 class="text-muted">**上传需要转换的文档，点击转换按钮，支持word、excle、ppt和txt格式的文档**</h4>
      </div>
      <hr/>
      <div>
    <h3 class="text-muted">转化后的文档如下，请右键另存为进行下载</h3>
      <ul>
        {% for file in filenames %}
          <li><a href={{url_for('uploaded_file', filename=file)}}>{{file}}</a></li>
        {% endfor %}
      </ul>
      </div>
      <div class="header">
        <h4 class="text-muted"></h4>
      </div>
      <hr/></div>
{% endblock %}